# Dependencies
node_modules/

# SQLite databases
*.sqlite

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files / secrets
.env
.env.local

# OS / editor
.DS_Store
Thumbs.db
.vscode/
